/*----------------------------------------Responsive Mobile First---------------------------------------------*/

.contenedor {
    flex-direction: column;
}

.publicidad,
.separador2 {
    display: none;
}


/*-----------------------------------------Estilos generales-------------------------------------------------*/

header,
nav,
footer,
.titulo_formulario,
.textoCaptcha,
.resultadoCaptcha,
td,
.listaVendidos,
.btn_menu,
.separador,
.separador2,
.seccion_soporte,
.seccion_productos,
.tabla,
.listaVendidos,
.formulario_dinamico,
#validacion,
.textarea {
    text-align-last: center;
}

body,
th,
tfoot {
    background: linear-gradient(80deg, #ffd86f, #fc6262);
    color: white;
}

.listaVendidos,
.tabla,
.formulario,
.stock,
.formulario_dinamico {
    background: linear-gradient(80deg, #fc6262, #ffd86f);
}

.btn_menu,
.separador,
.separador2,
.title_dinamico {
    background-color: #2e2e2e;
    padding: 2%;
}

ul.navigation.show,
nav,
.bienvenida,
.contenedor {
    display: flex;
}

header,
.separador,
.separador2,
.bienvenida,
.productos_index,
.soporte_index,
footer,
.seccion_productos,
.seccion_soporte,
.tabla,
.listaVendidos,
div,
.formulario,
.formulario_dinamico {
    margin-top: 2%;
}

img {
    width: 80%;
    height: 50%;
}


/*-----------------------------------------------------Nav-------------------------------------------------*/

nav {
    border-bottom: 4px solid #2e2e2e;
    width: 100%;
    background-color: gray;
}

.item {
    list-style: none;
    font-size: 60%;
    color: white;
    text-transform: uppercase;
    padding: 2%;
}

.botones {
    text-decoration: none;
    color: white;
}

ul.navigation {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
    list-style: none;
}

li:hover {
    background-color: #fc6262;
}

.btn_menu h1,
.separador,
.separador2 {
    color: #ffd86f;
    font-size: 80%;
}


/*---------------------------------------------BIENVENIDA---------------------------------------------------*/

.bienvenida {
    width: 100%;
    height: 500px;
    background-image: url("../imagenes/bienvenida.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 90%;
    align-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.titulo_bienvenida {
    font-size: 300%;
}

p {
    font-size: 120%;
}


/*-------------------------------------------Nuestros servicios---------------------------------------------*/

.seccion_soporte,
.seccion_productos {
    justify-content: center;
}

.productos_index,
.soporte_index {
    border: solid 2px black;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.soporte_index,
.seccion_soporte {
    background-color: #303f9f;
}

.productos_index,
.seccion_productos {
    background-color: #ba68c8;
}

.publi {
    width: 40%;
    height: 120px;
}


/*-----------------------------------------------PRODUCTOS--------------------------------------------------*/

.tabla,
.listaVendidos {
    border: solid 2px black;
}

table,
.tabla {
    width: 100%;
    height: 100%;
}

td {
    border-bottom: solid 1px;
}

tbody {
    background-color: white;
    color: black;
}

table,
td,
tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.imagen_tabla {
    width: 45%;
    height: 90%;
}


/*----------------------------------------------- PAGINA DE SOPORTE------------------------------------------*/

.formulario,
.textoCaptcha {
    border: solid 1px #303f9f;
}

.titulo_formulario {
    margin: 0%;
}

.titulo_formulario,
.textoCaptcha,
.resultadoCaptcha {
    background: #303f9f;
    font-size: 150%;
}

label {
    font-family: cursive;
    font-size: 100%;
    font-weight: bold;
}

.fila_formulario {
    padding: 1%;
}

.registro {
    background-color: #303f9f;
    font-size: 100%;
    font-weight: bold;
    color: white;
}

.genero {
    color: #303f9f;
}

form {
    width: 100%;
}

#enviar {
    display: none;
    text-align-last: center;
}


/*-----------------------------------------------CAPTCHA----------------------------------------------------*/

.resultadoCaptcha {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ResultadoPositivo {
    background-color: green;
}

.ResultadoNegativo {
    background-color: red;
}


/*------------------------------------------------STOCK-----------------------------------------------------*/

.oferta {
    background-color: yellow;
}

table {
    height: 15%;
}

.stock {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.formulario_dinamico {
    border: solid 2px black;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.title_dinamico {
    font-size: 100%;
    margin: 0%;
    text-align: center;
}


/*---------------------------------------------RESPONSIVE PC-------------------------------------------------*/

@media only screen and (min-width: 660px) {
    .contenedor {
        flex-direction: column;
    }
    /*----------------------------------------ESTILOS GENERALES----------------------------------------------*/
    .cuerpo_servicios,
    ul.navigation,
    .publicidad,
    .separador2,
    .formulario,
    .fila_formulario,
    .cuerpo_stock {
        display: flex;
        justify-content: center;
    }
    .productos_index,
    .soporte_index,
    .tabla,
    .tabla_dinamica,
    .formulario_dinamico {
        margin: 1%;
        margin-top: 3%;
    }
    /*--------------------------------------------SERVICIOS--------------------------------------------------*/
    .productos_index,
    .soporte_index {
        width: 25%;
        height: 50%;
    }
    /*--------------------------------------------NAVEGADOR--------------------------------------------------*/
    .btn_menu {
        display: none;
    }
    ul.navigation {
        flex-direction: row;
    }
    nav {
        background-color: #2e2e2e;
    }
    .item {
        margin: 0px 40px;
        list-style: none;
        font-size: 27px;
        padding: 15px;
    }
    .botones {
        text-decoration: none;
        color: #ffd86f;
    }
    /*-------------------------------------------------LOGO--------------------------------------------------*/
    img {
        width: 450px;
        height: 200px;
    }
    /*-----------------------------------------------PUBLICIDADES---------------------------------------------*/
    .publicidad {
        list-style: none;
    }
    li {
        padding: 1%;
    }
    .publi {
        width: 180px;
        height: 100px;
    }
    .separador,
    .separador2 {
        padding: 0%;
        font-size: 100%;
    }
    /*-----------------------------------------------PRODUCTOS------------------------------------------------*/
    .cuerpo_tablas {
        display: flex;
    }
    .listaVendidos {
        margin-left: 30%;
        margin-right: 30%;
    }
    .imagen_tabla {
        width: 45%;
        height: 350px;
    }
    /*-----------------------------------------------SOPORTE-------------------------------------------------*/
    .formulario,
    .fila_formulario {
        list-style: none;
    }
    .formulario {
        margin-left: 10%;
        margin-right: 10%;
    }
    .formulario,
    .textoCaptcha {
        border: solid 5px #303f9f;
    }
    /*------------------------------------------------STOCK--------------------------------------------------*/
    .tabla_dinamica {
        width: 65%;
    }
    .formulario_dinamico {
        height: 50%;
        width: 25%;
    }
}